*{
    padding: 0;
    margin: 0;
}

/* .row{
    background: #121212;
} */

.col{
    background: #121212;
    color: white;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.nav-tabs .nav-link {
    color: #ffffff;
}

.nav-tabs .nav-link.active {
    background-color: #333333;
    color: #ffffff;
}

/* y axis scroll bar for html code and set height 90vh for full screen  */
pre {
    height: 90vh;
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
}

iframe {
    background-color: #ffffff;
}