h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.main-heading h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.main-heading h1 span:after, .main-heading h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .main-heading h1 span {
    font-size: 12px;
    grid-gap: 10px;
  }
}

body {
  background-color: #A1E3F9;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px #578FCA;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 15px;
  height: 160px;
  object-fit: cover;
}

.card-img-top {
  height: 300px;
}

.col {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.card-body {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 1), #0672d6);
  color: white;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 12px;
  text-align: center;
  font-size: 17px;
  transition: height 0.5s;
}

.card-body h5 {
  font-weight: 500;
  margin-bottom: 3px;
}

.card:hover .card-body {
  height: 100%;
  box-shadow: 7px 7px 10px #578FCA;
}

.card-text {
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.btn {
  font-size: 10px;
}

.card-title {
  line-height: 25px;
  font-size: 18px;
}